server:
  port: 8080
spring:
  application:
    name: "core-engine"

  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password: ''
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    show-sql: true




management:
  endpoints:
    web:
      exposure:
        include: "*" # Mở endpoint 'beans' và 'health'